body, input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
table {
	width: 100%;
	border-collapse: collapse;
	margin: 10px 0px;
}
table, th, td {
	border: 1px solid #898989;
}
table.noborder, td.noborder {
	border: none;
	margin: 0px;
	padding: 0px;
}
th {
	font-size: 0.8em;
	background-color: #efef88;
	text-align: center;
/*	white-space: nowrap; */
	padding: 2px;
	height: 20px;
}
tr:nth-child(2n) {
	background-color: #dedede;
}
tr:nth-child(2n + 1) {
	background-color: #efefef;
}
tr.title {
	background: #66aaef;
	font-size: 1.2em;
	font-weight: bold;
}
tr.titlewatch {
	background-color: #6666ef;
}
tr.footer {
	background-color: #ababab;
	font-weight: bold;
}
td {
	font-size: 0.8em;
	white-space: nowrap;
	padding: 2px;
	height: 20px;
}
td.centre {
	text-align: center;
}
td.right {
	text-align: right;
}
td.rightpositive {
	text-align: right;
	background-color: #66ef66;
}
td.rightnegative {
	text-align: right;
	background-color: #ef6666;
}
h1 {
	font-size: 1.3em;
	line-height: 20px;
	margin: 5px;
	display: inline;
}
h2 {
	font-size: 1.0em;
	line-height: 15px;
	margin: 5px;
	display: inline;
}
h3 {
	font-size: 0.7em;
	line-height: 15px;
	margin: 5px;
	display: inline;
}
